@import "../../../styles/variables.scss";

.notepadCard {
  float: left;

  margin: 2rem;

  box-shadow: grey 0 0 6px;
  border-radius: 2px;

  max-width: 330px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #fff;
  justify-content: center;
  transition: 300ms;
  cursor: pointer;
}

.notepadCard:hover {
  transition: 300ms;
  box-shadow: $main-blue 0 0 6px;
}

.title {
  float: left;
  margin-top: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
