@import "../../../styles/fadeIn.module.scss";
@import "../../../styles/variables.scss";

.background {
  @extend .fadeIn;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(111, 111, 111, 0.4);
}

.container {
  @extend .fadeIn;
  height: 300px;
  width: 400px;
  position: fixed;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
  padding: 8px;
  background-color: white;
  overflow: auto;
  box-sizing: border-box;
}

.header {
  margin: 1rem auto 0 auto;
  text-align: center;
  width: 75%;
}

.inputContainer {
  display: block;
  border-radius: 2px;
  width: 75%;
  border: 0;
  justify-self: center;
  margin: 1.75rem auto;
}

.input {
  display: block;
  padding-left: 10px;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  border: 0;
  box-shadow: 0.5px 0.5px 3px 0.5px $main-blue;
  font-size: 1.15rem;
  height: 80px;
  resize: none;
}
