@import "../../../styles/variables.scss";

.textAreaHeader {
  text-align: center;
  margin-bottom: 3px;
  opacity: 0.8;
  font-size: 0.9rem;
  margin: auto;
}

.titleContainer {
  clear: both;
  text-align: center;
  margin: auto;
}

.title {
  margin: auto;

  border: 1px solid $main-blue;
  background-color: transparent;
  overflow: auto;
  text-align: center;
  resize: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 10px;

  box-shadow: #10a1f2 0 0 4px;

  width: 50%;
  font-size: 1.3rem;

  transition: 100ms;
  margin-bottom: 4px;
  padding: 2px;

  font-weight: bold;
}
