.header {
  font-size: 1.1rem;
  margin: 0px auto;
  text-align: center;
}

.divider {
  margin: 3px auto 0px auto;
  max-width: 97%;
}

.goalsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
