@import "../../../../styles/variables.scss";

.exerciseOption {
  text-align: center;
  height: 60px;
}

.title {
  word-wrap: break-word;

  text-align: center;
  height: 40px;

  overflow-y: auto;

  justify-self: center;

  width: 16rem;

  max-height: 8vh;
  border: 1px solid $main-blue;
  padding: 5px;

  background-color: transparent;
  overflow: auto;

  resize: none;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: default;
  box-shadow: 0 0 4px #10a1f2;
  font-size: 0.9rem;
}

.selectedTitle {
  margin-left: 0;
}
