.container {
  display: grid;
  grid-template-columns: 2.1fr 9fr;
  transition: 850ms;
  border: none;
}

.header {
  font-size: 1.3rem;
  text-align: center;
}

.materialsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: calc(915px + 14vw);
}
