@import "../variables.scss";

.windowContainer {
  justify-content: center;
  width: 37.875%;
  margin-left: 2rem;
  margin-right: 2rem;
  float: left;
}

.header {
  text-align: center;
  margin-bottom: 0;
}

.previewWindow {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: gray 0 0 6px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 25vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #fff;
  transition: 300ms;
  cursor: pointer;
}

.previewWindow:hover {
  box-shadow: $main-blue 0 0 6px;
  transition: 300ms;
}

.cardsContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}
