.selectedWindow {
  margin: 1.5rem auto;
  box-shadow: grey 0 0 6px;
  border-radius: 2px;
  background-color: #fff;
  min-height: 38vh;
  max-height: 70vh;
  width: 79.75%;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
}
