.container {
  text-align: center;
  margin: 17px auto 17px auto;
}

.title {
  text-align: center;
  font-size: 0.95rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-style: italic;
}
