.publishedDate {
  text-align: center;

  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 1.25rem;
}

.editBoxHeader {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 3px;
  opacity: 0.8;
  font-size: 0.85rem;
}

.editBox {
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 0 0 2px grey;

  padding: 2px 6px 6px 2px;

  width: 165px;
  text-align: center;
  margin: auto;
  align-self: center;
  height: 25px;

  font-size: 1rem;

  resize: none;
  overflow: auto;
}
