@import "../../styles/fadeIn.module.scss";
@import "../../styles/clickable.module.scss";

.options {
  @extend .fadeIn;
  height: 85px;
  width: 160px;
  position: absolute;
  z-index: 1070;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 5px, rgba(15, 15, 15, 0.2) 2px 1px 14px;
  background-color: white;
  float: right;
  margin-top: 5px;
  right: 4px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.button {
  @extend .clickable;
  text-align: center;
  margin: auto;
  font-size: 0.92rem;
  width: 160px;
}
