@import "../../../styles/variables.scss";
@import "../../../styles/webClamps.module.scss";

.cover {
  float: left;
  width: 56px;
  height: 75px;
  margin-right: 2px;
  border-radius: 4%;
  box-shadow: $main-blue 0 0 8px;
  vertical-align: middle;
}

.titleContainer {
  display: flex;
  height: 75px;
  align-items: center;
}

.title {
  @extend .threeLineClamp;
  margin: 4px 6px 0 6px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.details {
  @extend .oneLineClamp;
  float: left;
  font-size: 0.8rem;
  clear: both;
  margin: 5px 2px 5px auto;
}
