@import "../../../styles/variables.scss";

.header {
  font-size: 1.1rem;
  color: white;
  text-align: start;
  cursor: pointer;
  margin-left: 4%;
  margin-top: 17%;
}

.optionsContainer {
  overflow: hidden;
  transition: 275ms;
  margin-left: 8%;
}

.option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0px 4px 4px;
  list-style: none;
  height: 28px;
  border-radius: 4px;
}

.option:hover {
  background-color: $main-blue;
}

.option a {
  text-decoration: none;
  font-size: 15px;
  width: 95%;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 15px;
  border-radius: 4px;
}

.selectedOption {
  @extend .option;
  background-color: $main-blue;
}
